//color

$bg-color: #f3f3f3;
$text-name-color: #f35a2b;

//font-size

$nav-link-size: 1.6rem;
$nav-logo-size: 3.5rem;
$nav-icon-size: 1.6rem;

$section-heading-h2: 9rem;
$section-heading-p: 2.4rem;
$text-about-body-p: 1.6rem;
$text-about-body-h3: 2rem;

$nav-link-size: 1.7rem;
$text-lg-h2: 6rem;
$text-lg-h1: 7rem;
