@import "./variables";
@import "./mixin";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
@import "../../node_modules/bootstrap/scss/bootstrap";

// Hero Section

#hero-section {
  background-image: url("../images/bg-6.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  .intro {
    h1 {
      text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);

      span:before {
        content: "";
        animation: animate infinite 8s;
      }
    }

    @keyframes animate {
      0% {
        content: "Trang Nguyen";
      }

      36% {
        content: "a Web Developer";
      }

      66% {
        content: "a Web Designer";
      }

      100% {
        content: "a Freelancer";
      }
    }

    a:hover {
      @include fancy-bgcolor;
    }
  }

  .cloud {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/cloud2.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    animation: fly 500s linear infinite;

    @keyframes fly {
      0% {
        background-position: 0px;
      }
      100% {
        background-position: 5440px;
      }
    }
  }
}
// about section

#about-section {
  button {
    @include fancy-btn;
  }
}

// Skills Section

#skill-section {
  .text-html {
    @include fancy-card(rgb(226, 157, 148));

    i {
      color: rgb(223, 66, 9);
    }
  }

  .text-css {
    @include fancy-card(rgb(148, 182, 226));

    i {
      color: rgb(68, 31, 233);
    }
  }

  .text-sass {
    @include fancy-card(rgb(224, 127, 203));

    i {
      color: rgb(233, 33, 183);
    }
  }

  .text-bootstrap {
    @include fancy-card(rgb(215, 134, 235));

    i {
      color: rgb(170, 16, 175);
    }
  }
}

// Contact Section

#contact-section {
  button {
    @include fancy-btn;
  }
}
